@using PagedList;
@using PagedList.Mvc;

@model IPagedList<WebApps_ClientChapter.Models.ClientChapter>

@{
    ViewBag.Title = "Index";
}

    <div style="font-family:Arial">
        <h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <p>
            @using (Html.BeginForm("Index", "ClientChapters", FormMethod.Get))
            {
                <b>Search By:</b> @Html.RadioButton("searchBy", "Client ID", true) <text>Client ID</text>
                                  @Html.RadioButton("searchBy", "Chapter Code") <text>Chapter Code</text>
                                  @Html.RadioButton("searchBy", "Chapter Name") <text>Chapter Name</text>
                <br />
                @Html.TextBox("search") <input type="submit" value="Search" />
            }
        </p>
        <table class="table" border="1">
            <tr>
                <th>Action</th>
                <th>
                    Client ID
                </th>
                <th>
                    Chapter Code
                </th>
                <th>
                    Chapter Name
                </th>
                <th>
                    Client Level 1
                </th>
                <th>
                    Client Level 2
                </th>
                <th>
                    Client Level 3
                </th>
                <th>
                    Client Level 4
                </th>
                <th>
                    Envelope Line 1
                </th>
                <th>
                    Envelope Line 2
                </th>
                <th>
                    Envelope Line 3
                </th>
                <th>
                    Envelope Line 4
                </th>
                <th>
                    Envelope Line 5
                </th>
                <th>
                    Envelope Client Name
                </th>
                <th>
                    Client Address Line 1
                </th>
                <th>
                    Client Address Line 2
                </th>
                <th>
                    Client Address Line 3
                </th>
                <th>
                    Client City
                </th>
                <th>
                    Client State
                </th>
                <th>
                    Client Zip
                </th>
                <th>
                    Uw
                </th>
                <th>
                    Commander
                </th>
                <th>
                    Commander Title
                </th>
                <th>
                    Billing Chapter
                </th>
                <th>
                    Area Name
                </th>
                <th>
                    Commander Last Name
                </th>
                <th>
                    Client Phone
                </th>
                <th>
                    Client Fax
                </th>
                <th>
                    Client Email Address
                </th>
                <th>
                    Old Chapter Code
                </th>
                <th>
                    Customer Billing Number
                </th>
                <th>
                    Web Address
                </th>
                <th>
                    Region
                </th>
                <th>
                    Lockbox
                </th>
                <th>
                    Uw Blackout From Date
                </th>
                <th>
                    Uw Blackout To Date
                </th>
                <th>
                    MD_COORD
                </th>
                <th>
                    Commander 2
                </th>
                <th>
                    Commander Title 2
                </th>
                <th>
                    Commander Last Name 2
                </th>
                <th>
                    Billing Chapter 2
                </th>
                <th>
                    Client Email Address 2
                </th>
                <th>
                    Msp Thank
                </th>
                <th>
                    Last Thank You Date
                </th>
                <th>
                    Seed Names
                </th>
                <th>
                    Original Name
                </th>
                <th>
                    Client Name
                </th>
                <th>
                    Chapter Designation
                </th>
                <th>
                    Division
                </th>
                <th>
                    Active
                </th>
                <th>
                    Vertical
                </th>
                <th>
                    Client Active Date
                </th>
                <th>
                    Fiscal Year Begins
                </th>
                <th>
                    Flex 1
                </th>
                <th>
                    Flex 2
                </th>
                <th>
                    Flex 3
                </th>
                <th>
                    Flex 4
                </th>
                <th>
                    Flex 5
                </th>
                <th>
                    Create Date
                </th>
                <th>
                    Modified Date
                </th>
                <th>
                    Created By
                </th>
                <th>
                    Modified By
                </th>
            </tr>

            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="62">No rows match search criteria</td>
                </tr>
            }
            else
            {

            foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ClientChapterSKey }) 
                @Html.ActionLink("Details", "Details", new { id = item.ClientChapterSKey }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.ClientChapterSKey })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChapterCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChapterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientLevel1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientLevel2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientLevel3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientLevel4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnvelopeLine1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnvelopeLine2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnvelopeLine3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnvelopeLine4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnvelopeLine5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnvelopeClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientAddressLine1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientAddressLine2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientAddressLine3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientZip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uw)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commander)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommanderTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingChapter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommanderLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientFax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientEmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OldChapterCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerBillingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lockbox)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UwBlackoutFromDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UwBlackoutToDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MD_COORD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commander2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommanderTitle2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommanderLastName2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingChapter2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientEmailAddress2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MspThank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastThankYouDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeedNames)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChapterDesignation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Division)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vertical)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientActiveDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiscalYearBegins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flex1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flex2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flex3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flex4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flex5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy)
            </td>
        </tr>
            }
            }
        </table>
            
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"] }))
    </div>